.most-active-header {
  text-align: center;
  margin: 30px auto;
  padding: 10px;
  width: fit-content;
  font-size: 4rem;
  font-weight: 300;
  color: #b00d02;
}

.underline {
  content: "";
  background: #000;
  height: 2px;
  width: 200px;
  margin: 0 auto;
}

.cases {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon {
  color: #b00d02;
}

img {
  width: 100%;
  height: 200px;
}

.individual-case {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  /* border: 1px solid #000; */
  width: 400px;
  height: 350px;
  padding: 15px;
  justify-content: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.individual-case h1 {
  padding-top: 15px;
  font-weight: 200;
}

@media only screen and (max-width: 700px) {
  .most-active-header {
    font-size: 3rem;
  }
}
